canvas {
    display: none;
}

h1 {
    text-align: center;
    font-family: Vollkorn;
    font-size: 60px;
} 
.hello {
    text-align: center;
    font-family: Vollkorn;
    font-size: 45;
    padding-right: 1px;
}
h4 {
    text-align: center;
    font-family: Vollkorn;
    font-size: 30;
}
.sui {
    font-family: Vollkorn;
    font-size: 45;
    margin: 670px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

footer{
    font-family: Vollkorn;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}